.services h2 {
      margin: 5rem;
}

.services_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
}

@media (max-width: 991px) {
      .services {
            padding-bottom: 7rem;   
      }
}

@media (max-width: 768px) {
      .services h2 {
            margin-bottom: 3rem;   
      }
}