.card {
      position: relative;
      width: 300px;
      height: 300px;
      background: #FFF;
      box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      overflow: hidden;
}

.card:hover {
      height: 420px;
}

.card .imgBx {
      position: relative;
      width: 100%;
      height: 260px;
      background: var(--img);
      background-size: 100%;
      background-position: center;
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      filter: blur(25px);
      -webkit-filter: blur(25px);
}

.card .imgBx::before {
      content: "";
      position: absolute;
      bottom: -40px;
      width: 100%;
      height: 80px;
      background: #FFF;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
}

.card .imgBx::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 40px;
      width: 80px;
      height: 80px;
      background: transparent;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      box-shadow: 75px 75px 0 40px #FFF;
}

.card:hover .imgBx {
      background-size: 110%;
      filter: blur(0);
      -webkit-filter: blur(0);
}

.card .content {
      position: relative;
      top: -25px;
      z-index: 10;
      padding: 0 30px;
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
}

.card .content h3 {
      position: relative;
      font-size: 1.5rem;
      color: #000;
      margin-bottom: 25px;
}

.card .content h3 span {
      position: absolute;
      bottom: -15px;
      font-weight: 500;
      font-size: 1.2rem;
      opacity: 0.75;
      color: #333;
}

.card .content .tech_icons {
      display: flex;
      gap: 1rem;
      margin: 1rem 0;
      font-size: 3rem;
      color: #000;
      position: relative;
      opacity: 0;
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      position: relative;
      top: 10px;
}

.card:hover .content .tech_icons {
      opacity: 1;
}

.seeBtn{
      display: inline-block;
      margin: 20px 0;
      border: none;
      outline: none;
      color: #000;
      text-transform: capitalize;
      padding: 10px 20px;
      background: #CCC;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
}
.seeBtn:hover{
      background: #555;
      color: #EEE;
}