.container {
      position: relative;
      display: flex;
      padding: 15px 7%;
      gap: 4rem;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      min-height: 80vh;
}

.container .back__link {
      position: absolute;
      top: -20px;
      right: 15%;
      width: 60px;
      height: 30px;
      color: #000;
      background: var(--main-color);
      box-shadow: 0 0 1rem var(--main-color);
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
}

.project__description{
      font-size: 1.6rem;
      line-height: 2rem;
}

.container .icon {
      font-size: 1.6rem;
}

.container .image__container {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      max-width: 500px;
      width: 100%;
      margin: 20px auto;
}

.container .image__container .main__image {
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
}

.container .image__container .sub__images {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
}

.image__container .sub__images img {
      cursor: pointer;
      flex-grow: 0.5;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
}

.container .image__container .sub__images img.active {
      box-shadow: 0 0 0 7px #000, 0 0 0 12px #FFF;
}

.content__container .project__title {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 2rem;
}

.content__container .project__description {
      max-width: 750px;
      width: 100%;
      direction: rtl;
      font-size: 1.3rem;
      line-height: 2.4rem;
      text-align: center;
}

.content__container .project__link {
      margin: 2.5rem 1.5rem;
}

.tech_container h3{
      direction: rtl;
      font-size: 2rem;
      margin-top: 2rem;
}

.tech_icons {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin: 1rem 0;
      font-size: 3rem;
      color: #FFF;
      position: relative;
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      position: relative;
      top: 10px;
}