@font-face {
      font-family: Vazir;
      src: url(../public/Fonts/Vazirmatn-Thin.ttf);
      font-weight: 100;
}
@font-face {
      font-family: Vazir;
      src: url(../public/Fonts/Vazirmatn-ExtraLight.ttf);
      font-weight: 200;
}
@font-face {
      font-family: Vazir;
      src: url(../public/Fonts/Vazirmatn-Light.ttf);
      font-weight: 300;
}
@font-face {
      font-family: Vazir;
      src: url(../public/Fonts/Vazirmatn-Regular.ttf);
      font-weight: 400;
}
@font-face {
      font-family: Vazir;
      src: url(../public/Fonts/Vazirmatn-Medium.ttf);
      font-weight: 500;
}
@font-face {
      font-family: Vazir;
      src: url(../public/Fonts/Vazirmatn-SemiBold.ttf);
      font-weight: 600;
}
@font-face {
      font-family: Vazir;
      src: url(../public/Fonts/Vazirmatn-Bold.ttf);
      font-weight: 700;
}
@font-face {
      font-family: Vazir;
      src: url(../public/Fonts/Vazirmatn-ExtraBold.ttf);
      font-weight: 800;
}
@font-face {
      font-family: Vazir;
      src: url(../public/Fonts/Vazirmatn-Black.ttf);
      font-weight: 900;
}